<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title> 
	</head>
	<body>
		<h1>Atlantic Soccer Conference Teams</h1>
		<ol>
			{% for team in asc_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Boston Penguins Players</h1>
		<ol>
			{% for player in bp_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>International Collegiate Baseball Conference</h1>
		<ol>
			{% for player in icbc_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>American Conference of Amateur Football Lopez's</h1>
		<ol>
			{% for player in acaf_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Football Players</h1>
		<ol>
			{% for player in fb_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams with Sophia</h1>
		<ol>
			{% for player in sophias %}
				<li>{{player.curr_team.location}} {{player.curr_team.team_name}} {{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Leagues with Sophia</h1>
		<ol>
			{% for player in sophias %}
				<li>{{player.curr_team.league.name}} -- {{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Flores not in Washington Roughriders</h1>
		<ol>
			{% for player in flores %}
				<li>{{player.first_name}} {{player.last_name}} -- {{player.curr_team.team_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams Samuel Evans Has Been On</h1>
		<ol>
			{% for team in sEvans %}
				<li>{{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All players that have been on the Manitoba Tiger-Cats</h1>
		<ol>
			{% for player in mtc_players %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All players that have been on the Wichita Vikings, but aren't right now</h1>
		<ol>
			{% for player in wv_former %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All teams Jacob Gray played for before the Oregon Colts</h1>
		<ol>
			{% for team in jgray %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>All Joshs who played in the Atlantic Federation of Amateur Baseball Players</h1>
		<ol>
			{% for team in joshs %}
				<li>{{team.first_name}} {{team.last_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Teams that have had more than 12 total players</h1>
		<ol>
			{% for teams in annotate %}
				<li>{{teams.location}} {{teams.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Players and the number of teams they've played for</h1>
		<ol>
			{% for player in pct %}
				<li>{{player.first_name}} {{player.last_name}} {{player.num_teams}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<!-- <h1>Baseball Leagues</h1>
		<ol>
			{% for league in baseball_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Womens' Leagues</h1>
		<ol>
			{% for league in womens_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Hockey Leagues</h1>
		<ol>
			{% for league in hockey_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Not Football Leagues</h1>
		<ol>
			{% for league in not_football_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Conference Leagues</h1>
		<ol>
			{% for league in conference_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Atlantic Leagues</h1>
		<ol>
			{% for league in atlantic_leagues %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Dallas Leagues</h1>
		<ol>
			{% for league in dallas_teams %}
				<li>{{league.name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Raptors Teams</h1>
		<ol>
			{% for team in raptors_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No leagues found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>City Teams</h1>
		<ol>
			{% for team in city_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>T Teams</h1>
		<ol>
			{% for team in T_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Alphabetical Teams by Location</h1>
		<ol>
			{% for team in alph_teams %}
				<li>{{team.location}} {{team.team_name}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Reverse Alphabetical Teams by Name</h1>
		<ol>
			{% for team in alph_teams %}
				<li>{{team.team_name}} {{team.location}}</li>
			{% empty %}
				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Coopers</h1>
		<ol>
			{% for player in coopers %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Joshuas</h1>
		<ol>
			{% for player in joshuas %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Coopers, No Joshuas</h1>
		<ol>
			{% for player in no_josh %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol>
		<h1>Alexanders and Wyatts</h1>
		<ol>
			{% for player in alexs %}
				<li>{{player.first_name}} {{player.last_name}}</li>
			{% empty %}
				<p>No players found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
			{% endfor %}
		</ol> -->
	</body>
</html>