<html>
<head>
    <title>Books & Authors</title>

    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>Books & Authors</title>
    
        <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">
    
        <!-- Bootstrap core CSS -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">    
        <script src="{% static 'main/js/bootstrap.js' %}"></script>
    
        <!-- Custom styles for this template -->
        <link href="form-validation.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container">
            <h1>{{language}}</h1>
            <h2>{{ID}}</h2>
            <div>
                <h2>Description</h2>
                <p>
                    {{desc}}
                </p>
                <h2>Authors:</h2>
                <ul>
                    {% for auth in authors %}
                        <li>{{auth.first_name}} {{ auth.last_name }}</li>
                    {% endfor %}
                </ul>
                <div>
                    <form class="mt-4" action="/add_author" method="post">
                        {% csrf_token %}
                        <select name="authors">
                            {% for auth in other_auth %}
                                <option value="{{auth.first_name}}">{{auth.first_name}} {{ auth.last_name }}</option>
                            {% endfor %}
                        </select>
                            <input type="hidden" name="hidden" value="{{ID}}" />
                            <button class="btn btn-primary btn-sm" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="form-validation.js"></script></body>
    </html>
    