<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Create</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/checkout/">

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.css' %}">    
    <script src="{% static 'main/js/bootstrap.js' %}"></script>

    <!-- Custom styles for this template -->
    <link href="{% static 'main/css/form-validation.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <div class="w-75 mx-auto">
            <a class="float-right" href="/shows"><u>Go Back</u></a>
            <h1 class="mb-4">TV Show {{show.id}}</h1>
            <div class="w-100">
                <p class="mt-4">
                    Title: {{show.title}}
                </p>
                <p class="mt-4">
                    Network: {{show.network}}
                </p>
                <p class="mt-4">
                    Release Date: {{show.release_date}}
                </p>
                <p class="mt-4" style="height: 100px;">
                    Description: {{show.desc}}
                </p>
                <p class="mt-4">
                    Last Updated: {{cdate}}
                </p>
                <a href="/shows/{{show.id}}/edit"><u>Edit</u></a> &nbsp;|&nbsp;
                <a href="/shows/delete/{{show.id}}"><u>Delete</u></a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="form-validation.js"></script>
</body>
</html>
